
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="style.css">
   <title>Hello, world!</title>
    
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand  text-primary" href="#">CHAT LIVE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link text-success" href="#home">Home <span class="sr-only">(current)</span></a>
            </li>
            <div id="room">
            <li class="nav-item">
              <a class="nav-link text-success" href="#createroom">Create Room</a>
            </li>
          </div>
            <li class="nav-item">
                <a class="nav-link text-success" href="#joinroom">Join Room</a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-success " href="#">About us</a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-success " href="#">Contact us</a>
              </li>
          </ul>
          <ul class="nav navbar-nav ml-auto justify-content-end">
              <li class="nav-item">
                <a class="nav-link text-success  " href="#"><i class="fa fa-sign-in"></i>Sign in</a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-success " href="#"><i class="fa fa-sign-out"></i>Sign up</a>
              </li>
         
          </ul>
       
        </div>
      </nav>

      

<section id="home">
    <img class="front_image" src="img/front.jpg"/> 
    <div class="centered"><h2 >CHAT ROOM</h2>
      <p>The Panda has become the symbol of WWF.
           The well-known panda logo of WWF originated from a panda named Chi Chi 
           that was transferred from the Beijing Zoo to the London Zoo in the same year 
           of the establishment of WWF.</p>
         </div>
    </section>

    
<section id="createroom" class="mt-2">
  <img class="front_image" src="img/createroom.jpg"/> 
  <div class="centered"><h2>CREATE A ROOM</h2>
   <button class="createroom_button" text-success>
    <a href="/room"> createroom</a> 
   </button>
   </div>
  </section>

  <section id="joinroom" class="mt-2">
    <img class="front_image" src="img/joinroom.jpg"/> 
    <div class="centered"><h2 >JOIN A ROOM</h2>
     
      <form>
        <div class="form-group">
          <label for="roomid">ENTER ROOM ID</label>
          <input type="string" class="form-control" id="roomId"  placeholder=" RoomId Here">
         </div> 

        <button type="submit" class="btn btn-success"><a href="room/:room">Join</a></button>
      </form>
         </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>