<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand  text-primary" href="#">CHAT LIVE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link text-success" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <div id="room">
            <li class="nav-item">
              <a class="nav-link text-success" href="#createroom">Create Room</a>
            </li>
          </div>
            <li class="nav-item">
                <a class="nav-link text-success" href="#joinroom">Join Room</a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-success " href="#">About us</a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-success " href="#">Contact us</a>
              </li>
          </ul>
          <ul class="nav navbar-nav ml-auto justify-content-end">
              <li class="nav-item">
                <a class="nav-link text-success" href="/login"><i class="fa fa-sign-in"></i>Sign in</a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-success " href="/register"><i class="fa fa-user-plus"></i>Sign up</a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-success " href="/logout"><i class="fa fa-sign-out"></i>Sign out</a>
              </li>
         
          </ul>
       
        </div>
      </nav>
    <div class="col-md-4 col-md-offset-4" id="login">
        <section id="inner-wrapper" class="login">
           
                <form action="/login" method="POST" >
                 
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"> </i></span>
                            <input type="email"  name="email" id="email"  class="form-control" placeholder="Email Address" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key"> </i></span>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                        </div>
                    </div>
                 
                      <button type="submit" class="btn btn-success btn-block">Submit</button>
                </form>
                <p>dont have a account <a href="/register">click here</a></p>
        
        </section></div>
</body>
</html>